
/* roboto */ @import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/* inter */  @import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* arimo */  @import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-display: swap;
    line-height: 24px;
    letter-spacing: .6px;
}

html {
    scroll-behavior: smooth;
    --nav-load-time: 1s;
    --overlay-load-time: 1s;
    --sidebar-load-time: 1.2s;
    --intro-load-time: 2.4s;
    --card-load-time: 3.6s;
}

body {
    background: #ffffff;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    margin: 0;
}

/* nav */
.navbar {
    width: 100vw;
    position: fixed;
    background: #ffffff;
    border-bottom: .5px solid #cecece;
    z-index: 1000;
    left: 50%;
    transform: translateX(-50%);
    transition: ease .25s;
    animation: nav-load var(--nav-load-time) ease;
}
.nav-wrap {
    display: flex;
    margin: auto;
    padding: .5rem .7rem;
    align-items: center;
    justify-content: space-between;
}
.burger-box {
    padding: .5rem;
    border-radius: 8px;
    transition: ease .25s;
}
.burger-box:hover {
    background: #f4f4f4;
    transition: ease .25s;
}
.burger {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    width: 16px;
    height: 16px;
}
.burger-top,
.burger-btm {
    border: .5px solid #777777;
    border-radius: 16px;
    height: 0px;
    transition: ease .25s;
}

/* Sidebar */
.overlay-wrap {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* display: none; */
    align-items: flex-start;
    justify-content: flex-start;
    z-index: 1001;
    background: rgba(0, 0, 0, 0.25);
    /* animation: overlay-load var(--overlay-load-time) ease; */
}
.overlay-wrap.active {
    display: flex;
}
.overlay {
    background: #ffffff;
    width: 300px;
    height: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    animation: sidebar-load var(--sidebar-load-time) ease;
}
.overlay .head {
    display: flex;
    padding: .5rem .7rem;
    align-items: center;
    justify-content: space-between;
}
.overlay .body {
    text-align: center;
    padding: 0.85rem .5rem;
}
.overlay .body .account {
    font: 550 20px/1.5 'inter', sans-serif;
    text-align: left;
    padding: .25rem .5rem;
}
.overlay .body ul li {
    font: 450 12px/1.5 'inter', sans-serif;
    color: #777777;
    text-align: left;
    margin-top: 1rem;
    padding: .5rem;
    border-radius: 8px;
    transition: ease .25s;
}
.overlay .body ul li:hover {
    background: #f4f4f4;
    transition: ease .25s;
}
.overlay .body ul li a {
    font: 450 12px/1.5 'inter', sans-serif;
    color: #777777;
}

/* intro */
.intro-box {
    text-align: left;
    max-width: 1200px;
    vertical-align: middle;
    padding-top: 1.2rem;
    /* margin: auto; */
    /* padding: .5rem 1.2rem 0; */
    animation: intro-load var(--intro-load-time) ease;
}
.intro-box .head {
    font: 600 24px 'inter', sans-serif;
    color: #323232;
    margin: 1rem 0;
}

/* card */
.card-container {
    max-width: 1200px;
    /* margin: auto; */
    /* padding: 1.2rem; */
    padding-top: 2rem;
    /* padding: 2rem 0rem 0; */
    display: grid;
    text-align: center;
    gap: 1.2rem;
    animation: card-load var(--card-load-time) ease;
}
.sche-card {
    grid-row: 1/ span 1;
}
.todo-card {
    grid-row: 1/ span 1;
}
.note-card {
    grid-column: 1/ span 2;
}
.card-wrap .head {
    font: 450 12px/1.5 'inter', sans-serif;
    color: #777777;
    text-align: left;
    padding-top: .5rem;
    transition: ease .25s;
}
.card-wrap .body {
    border: .5px solid #cecece;
    border-radius: 8px;
    padding: 1rem 2rem 10rem;
}

/* footer */
.design {
    text-align: center;
    margin: auto;
    bottom: 0;
    padding: 5.2rem 0 1rem;
    position: static;
    animation: design-load var(--design-load-time) ease;
}
.design p {
    font: 350 14px/1.5 'roboto', sans-serif;
    color: #777777;
    transition: ease .25s;
}
footer {
    border-top: .5px solid #cecece;
    background: rgba(255, 255, 255, .85);
    backdrop-filter: blur(24px);
    text-align: left;
    width: 100%;
    bottom: 0;
    left: 0;
    position: fixed;
    z-index: 1000;
    animation: zero-load var(--zero-load-time) ease;
    transition: ease .25s;
}
.fixed-footer {
    max-width: 1200px;
    padding: .125rem 1.2rem;
    padding-bottom: calc(.125rem + 0px);
    margin: auto;
}
.fixed-footer a,
.fixed-footer p {
    font: 350 14px 'inter', sans-serif;
    color: #323232;
    transition: ease .25s;
}
.fixed-footer a:hover {
    color: #0179ff;
    transition: ease .25s;
}
.fixed-footer .current {
    color: #777777;
    transition: ease .25s;
}
.fixed-footer .current:hover {
    color: #777777;
    transition: ease .25s;
}
.lower {
    font-size: 12px;
}
.early {
    color: transparent;
}

/* ------------------------------------------------ */

@media all and (max-width: 580px) {
    .card-wrap {
        grid-template-columns: repeat(1, 1fr);
    }
    .card .head {
        padding: .8rem 1.6rem 8rem;
    }
    .design p {
        font: 12px
    }
    footer {
        border-top: .5px solid #999999;
    }
    .fixed-footer a,
    .fixed-footer p {
        font: 12px;
    }
    @keyframes sidebar-load {
        0% {
            opacity: 0;
            transform: translateY(-5%);
        }
        20% {
            opacity: 1;
            transform: translateY(0);
        }
    }
}

/*------------------------------------------------*/

@media all and (max-width: 360px) {
    .test-card {
        grid-template-columns: repeat(1, 1fr);
    }
}

/*------------------------------------------------*/

@media all and (max-width: 310px) {
    .btn-submit {
        font-size: 14px;
    }
    .btn-google {
        font-size: 14px;
    }
}

/* ------------------------------------------------ */

@supports (-webkit-touch-callout: none) {
    .design {
        padding-bottom: calc(2.5rem + env(safe-area-inset-bottom));
    }
    .fixed-footer {
        padding-bottom: calc(.125rem + env(safe-area-inset-bottom));
    }
}

/* ------------------------------------------------ */

@keyframes nav-load {
    0% {
        opacity: 0;
        transform: translate(-50%, -100%);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, 0);
    }
}
@keyframes overlay-load {
    0% {
        opacity: 0;
    }
    12% {
        opacity: 1;
    }
}
@keyframes sidebar-load {
    0% {
        /* opacity: 0; */
        transform: translateX(-100%);
    }
    12% {
        /* opacity: 1; */
        transform: translateX(0);
    }
}
@keyframes intro-load {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}
@keyframes card-load {
    0% {
        opacity: 0;
        transform: translateY(40%);
    }
    25% {
        opacity: 0;
    }
    50% {
        opacity: 1;
        transform: translateY(0);
    }
}
@layer base {
  :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;
        --card: 0 0% 100%;
        --card-foreground: 240 10% 3.9%;
        --popover: 0 0% 100%;
        --popover-foreground: 240 10% 3.9%;
        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;
        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;
        --muted: 240 4.8% 95.9%;
        --muted-foreground: 240 3.8% 46.1%;
        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;
        --destructive: 0 84.2% 60.2%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 5.9% 90%;
        --input: 240 5.9% 90%;
        --ring: 240 10% 3.9%;
        --chart-1: 12 76% 61%;
        --chart-2: 173 58% 39%;
        --chart-3: 197 37% 24%;
        --chart-4: 43 74% 66%;
        --chart-5: 27 87% 67%;
        --radius: 0.5rem;
        --sidebar-background: 0 0% 98%;
        --sidebar-foreground: 240 5.3% 26.1%;
        --sidebar-primary: 240 5.9% 10%;
        --sidebar-primary-foreground: 0 0% 98%;
        --sidebar-accent: 240 4.8% 95.9%;
        --sidebar-accent-foreground: 240 5.9% 10%;
        --sidebar-border: 220 13% 91%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
  .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;
        --card: 240 10% 3.9%;
        --card-foreground: 0 0% 98%;
        --popover: 240 10% 3.9%;
        --popover-foreground: 0 0% 98%;
        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;
        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;
        --muted: 240 3.7% 15.9%;
        --muted-foreground: 240 5% 64.9%;
        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;
        --destructive: 0 62.8% 30.6%;
        --destructive-foreground: 0 0% 98%;
        --border: 240 3.7% 15.9%;
        --input: 240 3.7% 15.9%;
        --ring: 240 4.9% 83.9%;
        --chart-1: 220 70% 50%;
        --chart-2: 160 60% 45%;
        --chart-3: 30 80% 55%;
        --chart-4: 280 65% 60%;
        --chart-5: 340 75% 55%;
        --sidebar-background: 240 5.9% 10%;
        --sidebar-foreground: 240 4.8% 95.9%;
        --sidebar-primary: 224.3 76.3% 48%;
        --sidebar-primary-foreground: 0 0% 100%;
        --sidebar-accent: 240 3.7% 15.9%;
        --sidebar-accent-foreground: 240 4.8% 95.9%;
        --sidebar-border: 240 3.7% 15.9%;
        --sidebar-ring: 217.2 91.2% 59.8%;
    }
}
@layer base {
  * {
    @apply border-border;
    }
  body {
    @apply bg-background text-foreground;
    }
}
